<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nodejsフロントエンド</title>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400italic" rel="stylesheet" type="text/css">
    <link href="./css/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Nodejsフロントエンド</h1>
    <h3>アクセス数：<%= viewcount %></h3>
    <p><input type="button" value="更新" onclick="window.location.reload();"></p>
  </body>
</html>
